@model List<Producto>

<h1>Productos en Oferta</h1>
<div class="table-responsive">
<table class="table col-12" id="tablaProducto">
    <thead class="table-dark">
        <tr>
            <th>Categoría</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Fecha de Creación</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@Html.DisplayFor(c => prod.Categoria.NombreCategoria)</td>
                <td>@Html.DisplayFor(c => prod.NombreProducto)</td>
                <td>@Html.DisplayFor(c => prod.PrecioProducto)</td>
                <td><img src="@Html.DisplayFor(c => prod.RutaProductoImagen)" width="30" height="30"/></td>
                <td>@Html.DisplayFor(c => prod.FechaCreacion)</td>
                <td>
                    <a data-id="@prod.IdProducto" class="btn btn-success btnMostrar" href="javascript:void(0)">Ver Descripcion</a>                   
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Descripción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="valor-descripcion"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#tablaProducto').DataTable();


        $(".btnMostrar").click(function () {
            var id = $(this).attr("data-id")
            $("#exampleModal").modal("show");

            var datos = $.ajax({
                url: "Producto/ObtenerDescripcion",
                type: "POST",
                data: {
                    "id": id
                }
            });

            datos.done(function (data) {
                $(".valor-descripcion").text(data.descripcion),
                    $("#exampleModal").modal("show")
            })
            datos.fail(function () {
                notif({
                    msg: "Error al Obtener.",
                    type: "error"
                });
            })
        })

    </script>
}